.comment-form {
    max-width: 500px;
    margin: 20px auto;
  }
  
  .comment-form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  .comment-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #f8f7f7;
    border-radius: 5px;
    resize: vertical;
  }
  
  .btn-submit {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #ec8601;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-submit:hover {
    background-color: #f1d96c;
  }
/* Seccion de comentarios */
.comment {
  margin-bottom: 15px;
  padding: 15px; 
  background-color: #f8f9fa; 
  border: 1px solid #dee2e6; 
  border-radius: 5px; 
  transition: background-color 0.3s; 
}

.comment:hover {
  background-color: #dbb077; 
}

.comment strong {
  color: #723b08;  /*color de usuario*/
  font-size: 1.1em; 
}

.comment small {
  color: #6c757d; /*color de fecha*/
  font-size: 0.9em; 
}

.stars {
  color: #ec8601; /*color de estrella*/
}
#container-comments {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
/*seccion new comentarios*/
#container-new-comments {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.list-group-item strong{
  color: #723b08;  
  font-size: 1.1em; 
}
.list-group-item rating {
  color: #ec8601; 
}
/*Productos recomendados*/
.related-products {
  margin-top: 20px;
}

.related-products h3 {
  margin-bottom: 15px;
  font-size: 1.5em;
}

.related-products-list {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding: 10px 0;
}

.related-product-card {
  flex: 0 0 auto;
  width: 150px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.related-product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.related-product-card a {
  color: inherit;
  text-decoration: none;
}

.related-product-img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.related-product-info {
  padding: 10px;
}

.related-product-info h4 {
  font-size: 1em;
  margin: 10px 0 5px;
}

.related-product-info p {
  font-size: 0.9em;
  color: #666;
  margin: 0;
}
